/* CUSTOMIZE THE NAVBAR
   -------------------------------------------------- */
   
 /* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}



#toc{  
  width: 250px;
}


 #toc.affix {
    position: fixed;
    top: 40px;
  }
  
 #toc ul  
 {
  list-style: none;  
 } 

 #toc li{
  padding-top: 2px;
  padding-bottom: 2px;
 }  

#toc a{
  display:block;
  text-decoration: none;  
  color: black;
}

#toc .toc-h1 {
    padding-left: 0px;
    
}

 #toc .toc-h2 {
    padding-left: 10px;
   
}

 #toc .toc-h3 {
    padding-left: 20px;
   
}

/*Make this look good when on a tablet */ 
@media (max-width: 767px) {
 #toc.affix {
    position: relative;
    top: 0px;
  }
}


.nuget-badge code {
background-color: #202020;
border: 4px solid silver;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
color: #E2E2E2;
display: block;
font: normal normal normal 1.5em/normal 'andale mono', 'lucida console', monospace;
line-height: 1.5em;
overflow: auto;
padding: 15px;
}

